/* =========================================
   VARIÁVEIS
========================================= */

:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --primary-light: #eff6ff;

    --text: #172033;
    --text-light: #64748b;

    --background: #f8fafc;
    --white: #ffffff;

    --border: #e2e8f0;

    --shadow: 0 10px 30px rgba(15, 23, 42, 0.08);

    --radius: 14px;

    --container: 1180px;
}